.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loaderImage,
.bar {
  width: 60px;
  height: 20px;
}
.bar {
  position: absolute;
  display: flex;
  align-items: center;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  background: #b9e0ff;
  opacity: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  animation: slideleft 3s ease-in-out infinite;
}
.bar1::before {
  animation-delay: 0s;
}
.bar1::after {
  animation-delay: 0.3s;
}
.bar2::before {
  animation-delay: 0.6s;
}
.bar2::after {
  animation-delay: 0.9s;
}
.bar3::before {
  animation-delay: 1.2s;
}
.bar3::after {
  animation-delay: 1.5s;
}
@keyframes slideleft {
  10% {
    opacity: 0;
    transform: scale(0);
    right: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0);
    right: 100%;
  }
}